*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('image.jpg');
}
.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;

}

.form-register h4 {
    text-align: center;
    font-family: 'Calibri';
    margin-bottom: 20px;
    font-size: 22px;
    margin: center ;
    
}
.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #8e9197;
    font-family: 'calibri';
    font-size: 18px;
    color:antiquewhite;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    text-align: center;
}

.form-register a{
    color: azure;
    text-decoration: none;
}

.form-register a:hover{
    color: rgb(255, 65, 113);
    text-decoration: underline;
}
.form-register .botton {
    width: 100%;
    background: #9b1fa0;
    border: none;
    border-radius: 5px;
    padding: 12px;
    color: rgb(255, 255, 255);
    margin: 16px 0 ;
    font-size: 16px;
    box-shadow: 8px 5px 9px #7d3992;

}